<div class="bg" style="background-color: #F8F8F8;">
  <div *ngIf="isSpinning" class="spinner-container">
      <mat-progress-spinner mode="indeterminate" [diameter]="50" color="primary"></mat-progress-spinner>
      <div class="spinner-text">Working...</div>
    </div>
    
  <div class="parent">
    <div class="child">
      <div class="imgDiv">
        <h1 style="font-family: 'Times New Roman', Times, serif; font-weight: bold;" class="title">Sign up</h1>
      </div>
      <form [formGroup]="validateForm">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Gmail</mat-label>
          <input matInput formControlName="email" placeholder="E-mail" id="email" required>
          <mat-error *ngIf="validateForm.get('email').hasError('required')">
         Entre votre gmail          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Password" id="password" required>
          <mat-error *ngIf="validateForm.get('password').hasError('required')">
              Entre votre mot de passe         </mat-error>
          <mat-error *ngIf="validateForm.get('password').hasError('pattern')">
            Password should contain 8 characters, 1 lowercase, 1 uppercase, 1 number, and 1 special character.
          </mat-error>
        </mat-form-field>

      

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="name" placeholder="Name" id="username" required>
          <mat-error *ngIf="validateForm.get('name').hasError('required')">
            Please input your username!
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="register()">Signup</button>
        Or <a routerLink="/login">Se connecter maintenant!</a>
      </form>
    </div>
  </div>
</div>